<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyeokran.youi">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Util.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/my_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity.SplashActivity"
            android:label="@string/my_app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.MainTheme" />

        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme.MainTheme" />

        <activity
            android:name=".Activity.RegisterActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Activity.NotificationActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Activity.WriteRecordActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
    </application>
</manifest>
